/* Página o modal de Login
El diseño de esta página es opcional.
El formulario de login debe solicitar un nombre de usuario o email y contraseña. Estos campos deben estar correctamente validados.  
Incorporar un link para recuperar la contraseña en caso de no recordarla, al presionar este link mostrar los pasos a seguir para poder recuperar la contraseña.
Si me logueo como el usuario administrador, me debe redirigir a la web de administración, si el usuario y contraseña ingresados no existe, debo informar con un modal o alert.
*/

#body {
  background-image: url(../IMG/Login/bg.jpg);
  opacity: 0.9;
  background-size: cover;
}


button.btn.btn-primary {
  background-color: #541C8C;
  border-color: #681CB4;
}

#passreset {
  color: #541C8C;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}